{% extends 'base.html' %}
{% load specifications %}
{% block content %}
<section class="py-5">     
    <div class="container px-4 px-lg-5 mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
            <!-- <li class="breadcrumb-item"><a href="#">{{ product.category.name }}</a></li> -->
            <li class="breadcrumb-item"><a href="{% url 'category_detail' slug=product.category.slug %}">{{ product.category.name }} </a></li>
          
            <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
            </ol>
        </nav>
        <div class="row">
    
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h3>{{ product.title}}</h3>
                <p>Цена: {{ product.price }} руб.</p>
                <p>Описание: {{ product.descriptions }}</p>
                <hr>
                <a href="{% url 'add_to_cart' ct_model=ct_model slug=product.slug %}"> <button class="btn btn-danger">Добавить в корзину</button></a>
            </div>
            <p class ='mt-4'>Характеристики:</p>

            <!-- Ниже приведен метод вывода характеристик с использованием тегов -->
            {{ product|product_spec }}
            
            <!-- Ниже приведен метод вывода характеристик без использования тегов -->
            <!-- {% if product.category.slug == 'notebooks' %}
                {% include 'notebook_spetcification.html' %}
            {% else %}
                {% include 'smartphone_spetcification.html' %}
            {% endif %} -->

        </div>
    </div>
            
</section>

{% endblock content %}